version: "3.8"

services:
  backend:
    build: .
    container_name: ecom-backend
    ports:
      - "8080:8080"
    networks:
      - ecom-network

  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: ecom
    ports:
      - "5432:5432"
    networks:
      - ecom-network

networks:
  ecom-network:
    driver: bridge